.authPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.authPage h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  padding: 3rem 5rem;
  background: #fff;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.authBtn {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.authBtn:hover {
  background: #0056b3;
}

.redirect {
  margin: 0;
  color: #333;
  text-transform: uppercase;
  a {
    color: #d6536d;
    text-decoration: none;
    font-weight: bold;
  }
}

@media only screen and (max-width: 460px) {
  .authForm {
    padding: 0.8rem 1rem;
  }

  .redirect {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 460px) and (max-width: 576px) {
  .authForm {
    padding: 1rem 3rem;
  }
}
